<nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light">
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/img/logo.png" alt="" width="44" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="userNameDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <b>@User.Identity.Name.ToUpper()</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="userNameDropdown">
                    @if (User.IsAdmin())
                    {
                        <li>
                            <a class="dropdown-item" asp-area="AdminPanel" asp-controller="User" asp-action="Index">Админ панель</a>
                        </li>
                    }
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Выход</a>
                </ul>
            </div>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="WorkTaskMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        Задачи
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="WorkTaskMenuLink">
                        <li>
                            <a class="dropdown-item" asp-controller="WorkTask" asp-action="Index">Список задач</a>
                        </li>
                        @if (User.IsAdmin() || User.IsPermission(Permission.Secretary))
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="WorkTask" asp-action="Archive">Архив</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="RecruitMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        Призыв
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="RecruitMenuLink">
                        @if (User.IsAdmin())
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Recruit" asp-action="Index">Список призывников</a>
                            </li>
                        }
                        @if (User.IsPermission(Permission.Dismissals))
                        {
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Dismissal" asp-action="Index">Увольнительные</a>
                            </li>
                        }
                        @if (User.IsPermission(Permission.Dactyloscopy))
                        {
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Dactyloscopy" asp-action="Index">Дактилоскопия</a>
                            </li>
                        }
                    </ul>
                </li>
                @if (User.IsPermission(Permission.PersonalGuidance))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="PersonalGuidanceMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            Персональщики
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="PersonalGuidanceMenuLink">
                            <li>
                                <a class="dropdown-item" asp-controller="PersonalGuidance" asp-action="List">Список персональщиков</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="PersonalGuidance" asp-action="Index">Таблица по в/ч</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="PersonalGuidance" asp-action="SearchForDuplicates">Поиск дубликатов</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="PersonalGuidance" asp-action="RemovingTheDepartingSpecialPerson">Удаление персональщиков</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>