<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сборный пункт РТ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/lib/jquery-select2/select2.min.css">
    <link rel="stylesheet" href="~/lib/jquery-select2/select2-bootstrap4-theme.css">
    <link rel="stylesheet" href="~/lib/mvc-grid/css/mvc-grid.css">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <partial name="_Header"/>
</header>

<partial name="_CookieConsentPartial"/>
<main role="main" class="pt-4 pb-3">
    @RenderBody()
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Военный комиссариат Республики Татарстан. Version 0.1 от 16.10.2020
    </div>
</footer>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/fontawesome/js/all.min.js"></script>
<script src="~/lib/jquery-select2/select2.min.js"></script>
<script src="~/lib/mvc-grid/js/mvc-grid.js"></script>
<script src="~/js/site.js"></script>

@RenderSection("Scripts", required: false)

<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>
</body>
</html>