@model IEnumerable<Dismissal>

@{
    Pagination paging = ViewBag.Pagination;
}

@(Html.Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Номер").Named("id").Hidden();
        columns.Add().RenderedAs((model, row) => paging.Rows * paging.CurrentPage - paging.Rows + row + 1).Titled("#");
        columns.Add(model => model.Recruit.ZRecruit.FullName).Titled("ФИО").Sortable(true);
        columns.Add(model => model.Recruit.MilitaryComissariat.ShortName).Titled("Военный комиссариат").Css("w-px-200");
        columns.Add(model => model.SendDismissalDate.ToShortDateString()).Titled("Убытие").Css("w-px-120").Filterable(true).UsingFilterOptions();
        columns.Add(model => model.ReturnDate.ToShortDateString()).Titled("Прибытие").Css("w-px-120").Filterable(true).UsingFilterOptions();
        columns.Add(model => model.Notice).Titled("Примечание");
        columns.Add(model => model.ZRecruitStatus).Titled("Статус");
        columns.Add(model =>
            $"<a class='btn btn-success' href='{Url.Action("EditModal", "Dismissal", new {id = model.Id})}'" +
            " data-placement='top' data-toggle='tooltip' title='Редактировать увольнительной' " +
            "onclick='showModal(event)' data-alert-text='Не удалось открыть окно редактирования увольнительной'>" +
            "<i class='fas fa-edit'></i></a>").Css("w-px-60 button").Encoded(false);
        columns.Add(model =>
            $"<a class='btn btn-danger' href='{Url.Action("Delete", "Dismissal", new {id = model.Id})}'" +
            " data-placement='top' data-toggle='tooltip' title='Удалить увольнительную' " +
            "onclick='actionWarning(event)' data-alert-text='Вы уверены что хотите удалить уволнительную?'>" +
            "<i class='fas fa-trash-alt'></i></a>").Css("w-px-60 button").Encoded(false);
    })
    .Css("table-striped")
    .AppendCss("table-hover")
    .RowAttributed(model => new {@class = (model.IsReturn ? "table-warning" : null) + 
                                          (model.IsSend ? "table-danger" : null) })
    .Empty("Призывников, временно убывших со сборного пункта")
    .Pageable(pager =>
    {
        pager.PartialViewName = "ViewComponents/_ExtendedPager";
        pager.PageSizes = new Dictionary<int, string> {{0, "Все"}, {10, "10"}, {20, "20"}, {50, "50"}, {100, "100"}};
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = paging.CurrentPage;
        pager.RowsPerPage = paging.Rows;
    })
    .Using(GridFilterMode.Excel))