<section class="container">
    <h2>Задачи</h2>
</section>

<section class="container mt-4">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <h5>Всего: <b>@ViewData["taskCount"]</b> задач.</h5>
        </div>
        <div class="col-lg-4 text-right">
            <a asp-controller="WorkTask" asp-action="CreateModal" class="btn btn-success"
                onclick="showModal(event)" data-alert-text="Не удалось открыть окно создания задачи">
                <i class="fas fa-user-plus"></i> Добавить задачу
            </a>
        </div>
    </div>
</section>

<section class="container mt-2">
    @Html.AjaxGrid(Url.Action("IndexGrid", new {exitMode = true}))
</section>

<div id="modalContainer"></div>