@{
    AlertViewModel alert = ViewBag.Alert;
}
@if (alert != null)
{
    <section class="container my-1" role="alert">
        <div class="alert alert-@alert.GetAlertTypeClass() alert-dismissible fade show">
            @if (alert.Title != "")
            {
                <h5 class="alert-heading">@alert.Title</h5>
            }
            @alert.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </section>
}