<section class="container">
    <h2>Админ панель</h2>
</section>

<section class="container mt-4">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" asp-area="AdminPanel" asp-controller="User" asp-action="Index">Управление сотрудниками</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" asp-area="AdminPanel" asp-controller="Department" asp-action="Index">Управление отделениями</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"  href="#">Управление призывами</a>
      </li>
    </ul>
</section>