@{
    var startDate = new DateTime(2020, 11, 18).DayOfYear;
    var targetDate = new DateTime(2020, 12, 22).DayOfYear - startDate;
    var today = DateTime.Now.DayOfYear - startDate + 1;
    var wValue = 100 / targetDate * today;
    startDate = 0;
}
<section class="container mt-2">
    <h2 class="text-center">Планы по сайту (до дембеля @(targetDate - today) дн.)</h2>

    <div class="row mt-4">
        <div class="col-md-1">
            <b data-placement="top" data-toggle="tooltip" title="18.11.2020">Запуск</b>
        </div>
        <div class="progress col-md-10 p-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                 aria-valuenow="@today" aria-valuemin="@startDate" aria-valuemax="@targetDate" style="width: @wValue%">
            </div>
        </div>
        <div class="col-md-1">
            <b data-placement="top" data-toggle="tooltip" title="22.12.2020">Дембель</b>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <h4>Сделано</h4>
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    <div class="row">
                        <h6 class="col-md-10"><i class="fas fa-check-circle"></i> Полностью переписан весь функционал кроме спец. документов</h6>
                        <small class="text-right col-md-2">17.11.2020</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-success">
                    <div class="row">
                        
                        <h6 class="col-md-10">
                            <i class="fas fa-check-circle"></i> Сихронизация номера справки<br>
                            <i class="fas fa-check-circle"></i> Измение визуальной части сайта: кнопки, макеты таблиц, окна призывника и дактилоскопии<br>
                            <i class="fas fa-check-circle"></i> Добавление призывников из базы "Весна 2020"<br>
                            <i class="fas fa-check-circle"></i> Исправление ошибок<br>
                            <i class="fas fa-check-circle"></i> Добавления сохранения страниц при переходе на другую страницу<br>
                            <i class="fas fa-check-circle"></i> Добавление сохранения страницы-таблицы при выходе из модального окна (добавление, редактирование, удаление)<br>
                        </h6>
                        <small class="text-right col-md-2">18.11.2020</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-success">
                    <div class="row">
                        <h6 class="col-md-10">
                            <i class="fas fa-check-circle"></i> Добавление очистки событий и связей с Персональщиком (перед удалением)<br>
                            <i class="fas fa-check-circle"></i> Добавление редактирования номера справки и даты тестирования на сайте<br>
                            <i class="fas fa-check-circle"></i> Добавление печати списка призывников (ФИО и Телефон) с выбором промежутка доставки <br>
                            <i class="fas fa-check-circle"></i> Добавление печати списка персональщиков для районнов (по 1 району) <br>
                            <i class="fas fa-check-circle"></i> Сохранение положения экрана при выходе из модального окна (Персональщики -> Таблица по в/ч)
                        </h6>
                        <small class="text-right col-md-2">19.11.2020</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-success">
                    <div class="row">
                        <h6 class="col-md-10">
                            <i class="fas fa-check-circle"></i> Добавление печати списка персональщиков для районнов (все районы)<br>
                            <i class="fas fa-check-circle"></i> Добавление печати списка персональщиков по видам директивных указаний<br>

                        </h6>
                        <small class="text-right col-md-2">20.11.2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Планы</h4>
            <div class="list-group">
                <div class="list-group-item">
                    <h6><i class="fas fa-calendar"></i> Добавление коментариев(описание) кода. Для следующего вцшника</h6>
                </div>
                <div class="list-group-item">
                    <h6> <i class="fas fa-calendar"></i> Добавление печати контроля выполнения (Хайрутдинов)</h6>
                </div>
                <div class="list-group-item">
                    <h6> <i class="fas fa-calendar"></i> Убрать из проекта Сессии (производительность + структура)</h6>
                </div>
                <div class="list-group-item">
                    <h6> <i class="fas fa-calendar"></i> Добавление "планы по сайту" как отдельный функционал на сайте</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info mt-4" role="alert">
        В случае обнаружения ошибок или при наличии предложений по улучшению, сообщите ВЦшникам!
    </div>
</section>