<section class="container">
    <h2>Удаление убывших персональщиков</h2>
</section>

<partial name="ViewComponents/_AlertSection"/>

<section class="container mt-2">
    @Html.AjaxGrid(Url.Action("RemovingTheDepartingSpecialPersonGrid"))
</section>

<div id="modalContainer"></div>