/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

header {
    box-shadow: 0 .3125rem .875rem 0 rgba(129, 129, 129, .3) !important;
}

.custom-control-label {
    position: absolute;
    padding-top: calc(0.375rem + 1px);
    left: 0;
}

.custom-switch .custom-control-label::before {
    top: 2.25rem;
    left: 0;
    width: 4.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 4rem;
}

.custom-switch .custom-control-label::after {
    top: calc(2.25rem + 2px);
    left: 2px;
    width: calc(3rem - 4px);
    height: calc(1.5em + 0.75rem  - 2px);
    border-radius: 4rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.75rem);
}

.custom-control-input.input-warning:checked ~ .custom-control-label::before {
    border-color: #ffc107;
    background-color: #ffc107;
}

.custom-control-input.input-warning:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);;
}

#editModal, #createModal {
    overflow-y: hidden;
}

.mvc-grid .sortable {
    padding-right: 25px;
}

.mvc-grid .filterable {
    padding-right: 25px;
}

.mvc-grid .filterable.sortable {
    padding-right: 50px;
}

.mvc-grid-sort, .mvc-grid-filter {
    width: 30px;
}

.mvc-grid-sort, .mvc-grid-sort {
    width: 30px;
}

.mvc-grid-excel-mode .filterable .mvc-grid-sort, .mvc-grid-header-mode .filterable .mvc-grid-sort {
    right: 30px;
}

.mvc-grid-extended-pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mvc-grid-extended-pager .mvc-grid-pager-extension {
    padding: 0 5px;
}

.w-px-20 {
    max-width: 20px;
    width: 20px;
    min-width: 20px;
}

.w-px-30 {
    max-width: 30px;
    width: 30px;
    min-width: 30px;
}

.w-px-40 {
    max-width: 40px;
    width: 40px;
    min-width: 40px;
}

.w-px-50 {
    max-width: 50px;
    width: 50px;
    min-width: 50px;
}

.w-px-60 {
    max-width: 60px;
    width: 60px;
    min-width: 60px;
}

.w-px-70 {
    max-width: 70px;
    width: 70px;
    min-width: 70px;
}

.w-px-80 {
    max-width: 80px;
    width: 80px;
    min-width: 80px;
}

.w-px-90 {
    max-width: 90px;
    width: 90px;
    min-width: 90px;
}

.w-px-100 {
    max-width: 100px;
    width: 100px;
    min-width: 100px;
}

.w-px-110 {
    max-width: 110px;
    width: 110px;
    min-width: 110px;
}

.w-px-120 {
    max-width: 120px;
    width: 120px;
    min-width: 120px;
}

.w-px-130 {
    max-width: 130px;
    width: 130px;
    min-width: 130px;
}

.w-px-140 {
    max-width: 140px;
    width: 140px;
    min-width: 140px;
}

.w-px-150 {
    max-width: 150px;
    width: 150px;
    min-width: 150px;
}

.w-px-160 {
    max-width: 160px;
    width: 160px;
    min-width: 160px;
}

.w-px-170 {
    max-width: 170px;
    width: 170px;
    min-width: 170px;
}

.w-px-180 {
    max-width: 180px;
    width: 180px;
    min-width: 180px;
}

.w-px-190 {
    max-width: 190px;
    width: 190px;
    min-width: 190px;
}

.w-px-200 {
    max-width: 200px;
    width: 200px;
    min-width: 200px;
}

.w-px-210 {
    max-width: 210px;
    width: 210px;
    min-width: 210px;
}

.w-px-220 {
    max-width: 220px;
    width: 220px;
    min-width: 220px;
}

.w-px-230 {
    max-width: 230px;
    width: 230px;
    min-width: 230px;
}

.w-px-240 {
    max-width: 240px;
    width: 240px;
    min-width: 240px;
}

.w-px-250 {
    max-width: 250px;
    width: 250px;
    min-width: 250px;
}

.w-px-260 {
    max-width: 260px;
    width: 260px;
    min-width: 260px;
}

.w-px-270 {
    max-width: 270px;
    width: 270px;
    min-width: 270px;
}

.w-px-280 {
    max-width: 280px;
    width: 280px;
    min-width: 280px;
}

.w-px-290 {
    max-width: 290px;
    width: 290px;
    min-width: 290px;
}

.w-px-300 {
    max-width: 300px;
    width: 300px;
    min-width: 300px;
}

.w-px-m-200 {
    max-width: 200px;
}

table.table-bordered{
    border:1px solid #929292;
}
table.table-bordered > thead > tr > th, table.table-bordered > tbody > tr > td{
    border:1px solid #929292;
}
table.table-bordered > tbody > tr.border-top > td {
    border-top: 3px solid #000;
}

.table-secondary, .table-secondary>td, .table-secondary>th {
    background-color: #d6d6de;
}

table.table-label-hide .label label {
    cursor: pointer;
}

.table tbody+tbody {
    border-top: 1px solid #929292;
}

table.table-label-hide .label input[data-toggle="toggle"]{
    display: none;
}

.hide{
    display: none;
}